<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    
    <a class="navbar-brand" [routerLink]="['/petition/list']">Petitions</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarPetitionMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Petition
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarPetitionMenu">
            <a class="dropdown-item" [routerLink]="['/petition/list']">All Petitions</a>
            <a *ngIf="service.isAuthenticated" class="dropdown-item" [routerLink]="['/petition/my-list']">My Petitions</a>
            <a *ngIf="service.isAuthenticated" class="dropdown-item" [routerLink]="['/petition/add']">New Petition</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" target="_blank" href="https://github.com/beniteza/Petitions">Github</a>
        </li>

      </ul>

      <ul class="navbar-nav">

        <li *ngIf="!service.isAuthenticated" class="nav-item dropdown">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>

        <li *ngIf="!service.isAuthenticated" class="nav-item dropdown">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>

        <li *ngIf="service.isAuthenticated" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarAccountMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarAccountMenu">
            <a class="dropdown-item" [routerLink]="['/account-info']">Account Info</a>
            <a class="dropdown-item" [routerLink]="['/change-password']">Change Password</a>
            <a class="dropdown-item" style="cursor: pointer" (click)="onLogout()">Logout</a>
          </div>
        </li>

      </ul>

    </div>

  </div>
</nav>