<section class="container bg-primary mt-2">
  <div class="row justify-content-center">
    <div class="col-9 bg-light px-4">
      <h1 class="my-2">Petitions</h1>

      <article class="card card-horizontal card-hover mb-3" *ngFor="let petition of petitionList | paginate: { itemsPerPage: 5, currentPage: p } ">

        <div class="card-body p-4" style="cursor: pointer" (click)="goToPetition(petition.id)">
          <p class="fs-sm mb-2" >{{petition.topic}}</p>
          <h2 class="h4 mb-2">
            {{petition.title}}
          </h2>
          <div class="d-flex fs-sm align-items-center pt-1 ps-2 ms-1 mt-n1">
            Started by<span class="fw-semibold ms-1">{{petition.userName}}</span>
          </div>
          <div class="d-flex fs-sm align-items-center pt-1 ps-2 ms-1 mt-n1">
            {{petition.country}}, <span class="fw-semibold ms-1">{{petition.city}}</span>
          </div>
          <div class="mt-2 text-end text-nowrap">
            <span class="fs-xs">
              <i class="fas fa-signature"></i>&nbsp;&nbsp;{{petition.signatureCount}}
            </span>
            <span class="meta-divider"></span>
            <span class="fs-xs">
              <i class="fas fa-calendar-week"></i>&nbsp;&nbsp;{{petition.petitionDate | date : mediumDate}}
            </span>
          </div>

        </div>

      </article>

      <div class="my-pagination" *ngIf="petitionList.length > 0">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
      
    </div>
  </div>
</section>