<section class="container my-lg-2 pt-5 pb-lg-7">

  <div class="row align-items-center">

    <div class="col-lg-5 py-3 py-lg-0">
      <h1>Petitions</h1>
      <h2 class="h3">Created by Axviel Benítez</h2>

      <div class="py-4">
        <p class="callout">Designed with Angular 11, ASP.NET Core WebAPI, SQL Server. Hosted on Azure.</p>
      </div>

    </div>

    <div class="col-xl-6 col-lg-7 offset-xl-1 position-relative">
      <div class="py-5" style="min-height: 543px;">

        <div class="d-none d-lg-block position-absolute bg-no-repeat bg-position-center h-100" style="top: 0; left: -45px; width: 646px; background-image: url(../../assets/img/angular.svg);"></div>

      </div>
    </div>

  </div>

</section>