<section class="container-fluid bg-primary">

  <div class="row justify-content-center">
    <div class="col-9 col-sm-8 col-md-7 col-lg-5 col-xl-4">
      
      <div id="form-container" class="bg-white p-4 my-4">

        <h1 class="h2 text-center">Change Password</h1>
        <p class="fs-ms text-muted mb-4 text-center">Enter your current password and the desired new password.</p>

        <form [formGroup]="formModel" autocomplete="off" (submit)="onSubmit()">

          <div class="row">

            <div class="col-12 form-group required mb-3">
              <label class="form-label">Current password<sup class="text-danger ms-1">*</sup></label>
              <input type="password" class="form-control" formControlName="CurrentPassword">
              <label class="text-danger form-label" 
                *ngIf="formModel.get('CurrentPassword')!.touched && formModel.get('CurrentPassword')!.errors?.required">This
                field is required.</label>
            </div>

            <div class="col-12 form-group required mb-3">
              <label class="form-label">New password<sup class="text-danger ms-1">*</sup></label>
              <input type="password" class="form-control" formControlName="NewPassword">
              <label class="text-danger form-label"
                *ngIf="formModel.get('NewPassword')!.touched && formModel.get('NewPassword')!.errors?.required">This
                field is required.</label>
            </div>

            <div class="col-12 form-group required mb-3">
              <label class="form-label">Confirm new password<sup class="text-danger ms-1">*</sup></label>
              <input type="password" class="form-control" formControlName="ConfirmNewPassword">
              <label class="text-danger form-label"
                *ngIf="formModel.get('ConfirmNewPassword')!.touched && formModel.get('ConfirmNewPassword')!.errors?.required">This
                field is required.</label>
              <label class="text-danger form-label"
                *ngIf="formModel.get('ConfirmNewPassword')!.touched && formModel.get('ConfirmNewPassword')!.errors?.passwordMismatch">Confirm new
                password does not match.</label>
            </div>


          </div>

          <div class="form-row">
            <div class="form-group col-12">
              <button type="submit" class="btn btn-primary d-block w-100" [disabled]="!formModel.valid">Update</button>
            </div>
          </div>

        </form>

      </div>

    </div>
  </div>
</section>
