<section class="container d-flex justify-content-center align-items-center pt-2 pb-4" style="flex: 1 0 auto;">

  <div class="signin-form mt-3">
    <div class="signin-form-inner">
      
      <div id="signup-view">

        <h1 class="h2 text-center">Change Password</h1>
        <p class="fs-ms text-muted mb-4 text-center">Enter your current password and the desired new password.</p>

        <form [formGroup]="formModel" autocomplete="off" (submit)="onSubmit()">

          <div class="row">

            <div class="col-12 form-group required mb-3">
              <label class="form-label">Current Password</label>
              <input type="password" class="form-control" formControlName="CurrentPassword">
              <label class="text-danger"
                *ngIf="formModel.get('CurrentPassword')!.touched && formModel.get('CurrentPassword')!.errors?.required">This
                field is required.</label>
            </div>

            <div class="col-12 form-group required mb-3">
              <label class="form-label">New Password</label>
              <input type="password" class="form-control" formControlName="NewPassword">
              <label class="text-danger"
                *ngIf="formModel.get('NewPassword')!.touched && formModel.get('NewPassword')!.errors?.required">This
                field is required.</label>
            </div>

            <div class="col-12 form-group required mb-3">
              <label class="form-label">Confirm New Password</label>
              <input type="password" class="form-control" formControlName="ConfirmNewPassword">
              <label class="text-danger"
                *ngIf="formModel.get('ConfirmNewPassword')!.touched && formModel.get('ConfirmNewPassword')!.errors?.required">This
                field is required.</label>
              <label class="text-danger"
                *ngIf="formModel.get('ConfirmNewPassword')!.touched && formModel.get('ConfirmNewPassword')!.errors?.passwordMismatch">Confirm New
                Password does not match.</label>
            </div>


          </div>

          <div class="form-row">
            <div class="form-group col-12">
              <button type="submit" class="btn btn-primary d-block w-100" [disabled]="!formModel.valid">Update</button>
            </div>
          </div>

        </form>

      </div>

    </div>
  </div>
</section>
