<section class="container-fluid bg-primary">

  <div class="row justify-content-center">
    <div class="col-9 ">
      <div class="bg-white p-4 my-4">

        <div class="text-center mb-2 pb-4">
          <h1 class="mb-5">Unauthorized</h1>
          <h2>Cannot access the requested resource!</h2>
          <p class="pb-2">It you don't have permission to view the requested page.</p>
          <a class="btn btn-primary" [routerLink]="['/petition/list']">Go to homepage</a>
        </div>
    
      </div>
    </div>
  </div>

</section>
